<div class="card mb-5">
  <div class="card-header">
    {{format_date date_created}}
  </div>
  <div class="card-body">
    <h5 class="card-title"><a href="/blogpost/{{id}}">{{title}}</a></h5>
  </div>
</div>