<div class="card mb-3">
  <div class="card-body">
    <h6 class="card-title">{{comment_text}}</h6>
    <p class="card-text" id="comment-createdBy">Left by {{user.username}} on {{format_date date_created}}</p>
  </div>
</div>