{{!-- comment form --}}
<form class="comment-form" data-blogid="{{id}}">
    <div class="mb-3">
    <label for="comment" class="form-label">Leave a Comment</label>
    <input type="text" class="form-control" id="comment" aria-describedby="comment-text" placeholder="Type your comment here">
    </div>
    <button type="submit" class="btn btn-primary">Add Comment</button>
</form>