<form>
    <div class="mb-3">
    <label for="blog" class="form-label">Create a New Blog Post</label>
    <input type="text" class="form-control" id="blogpost-title" aria-describedby="blog-title" placeholder="Enter Blog Title">
    </div>
    <div class="mb-3">
    <input type="text" class="form-control" id="blogpost-text" placeholder="Enter the body of your blog post here!">
    </div>
    <button type="submit" class="btn btn-primary" id="createBtn">Create Blog</button>
</form>
