{{#if loggedIn}}
<div class="col-auto">
    <h2>Welcome, {{username}}</h2>
</div>
{{!-- create a new blog form --}}
{{> create-blog}}
{{!-- if user has written posts, show post details below --}}
{{#if blogPosts.length}}
{{#each blogPosts as |blogPost|}}
{{> user-blog-details}}
{{/each}}
{{/if}}
{{else}}
{{!-- if user not logged in, redirect to login page --}}
<a class="nav-link" href="/login">Login or Sign Up to view your Dashboard</a>
{{/if}}
{{#if loggedIn}}
<script src="/js/dashboard.js"></script>
<script src="/js/readMore.js"></script>
{{/if}}