<form class="update-blog">
    <div class="mb-3">
    <label for="blog" class="form-label">Update Blog Post</label>
    <input type="text" class="form-control" id="update-title" aria-describedby="blog-title" value="{{title}}" >
    </div>
    <div class="mb-3">
    <input type="text" class="form-control" id="update-text" value="{{content}}">
    </div>
    <button type="submit" class="btn btn-primary" id="createBtn" data-id="{{id}}">Update Blog</button>
</form>
<script src="/js/updateBlog.js"></script>