<div class="row d-flex flex-wrap">
    <div class="container d-flex flex-wrap">
        <div class="col-auto">
            <form class="signup-form mb-3">
                <label for="username" class="form-label">Sign Up</label>
                <div class="row">
                <div class="col">
                
                <input type="text" class="form-control" id="username-signup" aria-describedby="username" placeholder="Create a username">
                </div>
                 <div class="col">
                <input type="password" class="form-control" id="password-signup" placeholder="Password: must be at least 8 characters">
                </div>
                <button type="submit" class="btn btn-primary" id="signupBtn">Sign Up</button>
                </div>
            </form>
        </div>
        <div class="col-auto">
            <form class="login-form mb-3">
                <label for="username" class="form-label">Login</label>
                 <div class="row">
                <div class="col">
                
                <input type="text" class="form-control" id="username-login" aria-describedby="username" placeholder="Username">
                </div>
                 <div class="col">
                <input type="password" class="form-control" id="password-login" placeholder="Password">
                </div>
                <button type="submit" id="loginBtn" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/js/login.js"></script>