<div class="row">
    <div class="container">
        <div class="col-12 col-md-6">
            <form>
                <div class="mb-3">
                <label for="username" class="form-label">Sign Up</label>
                <input type="text" class="form-control" id="username-signup" aria-describedby="username" placeholder="Create a username">
                </div>
                <div class="mb-3">
                <input type="password" class="form-control" id="password-signup" placeholder="Password: must be at least 8 characters">
                </div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="col-12 col-md-6">
            <form>
                <div class="mb-3">
                <label for="username" class="form-label">Login</label>
                <input type="text" class="form-control" id="username" aria-describedby="username" placeholder="Username">
                </div>
                <div class="mb-3">
                <input type="password" class="form-control" id="password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>