.card-title a {
    text-decoration: none;
    color: black;
}

#updateBtn a {
    color: white;
    text-decoration: none;
}

#loginBtn,
#signupBtn {
    align-items: center;
    max-width: 100px;
}

.signup-form,
.login-form {
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
}