.card-title a {
    text-decoration: none;
    color: black;
}

#updateBtn a {
    color: white;
    text-decoration: none;
}

#loginBtn,
#signupBtn {
    align-items: center;
    width: 100px;
}

.signup-form,
.login-form, .create-blog, .update-blog label {
    font-weight: bolder;
    font-size: 150%;
}